<?xml version="1.0" encoding="utf-8" ?>
<SMP>
  <Accounts>
    <Account Type="Facebook" Email="pe@sdl.com">
      <Password>****</Password>
      <Name>Jaime Santos Alcón</Name>
      <Nickname>jsantos</Nickname>
      <AvatarImage>https://si0.twimg.com/profile_images/1255179311/download_normal.jpg</AvatarImage>
    </Account>
    <Account Type="Twitter" Email="pe@sdl.com">
      <Password>****</Password>
      <Name>PE4 Account</Name>
      <Nickname>pe4</Nickname>
      <AvatarImage>https://si0.twimg.com/profile_images/1255179311/download_normal.jpg</AvatarImage>
    </Account>
    <Account Type="Wordpress" Email="pe@sdl.com">
      <Password>****</Password>
      <Name>Jaime Santos Alcón</Name>
      <Nickname>jsantos</Nickname>
      <AvatarImage>https://si0.twimg.com/profile_images/1255179311/download_normal.jpg</AvatarImage>
    </Account>
  </Accounts>
  <SocialData>
    <Publication ID="tcm:0-0-0">
      <PageHandler Class="Tridion.Extensions.SMP.Handlers.PageHandler" Assembly="Tridion.Extensions.SMP.Logic.dll">
        <Settings>
          <Setting Key="TwitterFile" Value="c:\temp\twitter.xml"/>
          <Setting Key="FacebookFile" Value="c:\temp\facebook.xml"/>
          <Setting Key="WordpressFile" Value="c:\temp\wordpress.xml"/>
          <Setting Key="PageTemplateWordpress" Value="tcm:8-82-128"/>
          <Setting Key="PageTemplateFacebook" Value="tcm:8-82-128"/>
          <Setting Key="PageTemplateTwitter" Value="tcm:8-381-128"/>
          <Setting Key="LinkURL" Value="/LinkRedirect.aspx"/>
        </Settings>
      </PageHandler>
      <ComponentHandler Class="Tridion.Extensions.SMP.Handlers.ComponentHandler" Assembly="Tridion.Extensions.SMP.Logic.dll">
        <Settings>
          <Setting Key="TwitterFile" Value="c:\temp\twitter.xml"/>
          <Setting Key="FacebookFile" Value="c:\temp\facebook.xml"/>
          <Setting Key="WordpressFile" Value="c:\temp\wordpress.xml"/>
          <Setting Key="ComponentTemplateWordpress" Value="tcm:8-377-32"/>
          <Setting Key="ComponentTemplateFacebook" Value="tcm:0-0-0"/>
          <Setting Key="ComponentTemplateTwitter" Value="tcm:8-379-32"/>
          <Setting Key="LinkURL" Value="/LinkRedirect.aspx"/>
        </Settings>
      </ComponentHandler>
    </Publication>
  </SocialData>
</SMP>