<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="adminUser" value="Administrator"/>
    <add key="server" value="http://localhost"/>
    <add key="endpointName" value="wsHttp_2011"/>
    <add key="pollingInterval" value="60"/>
    <add key="logLevel" value="info"/>
    <add key="notifiersFolder" value=""/>
  </appSettings>
</configuration>