<?xml version="1.0"?>
<configuration>  
  <system.serviceModel>
    <services>
      
      <service name="Tridion.Extensions.Services.WFN.WFNServices" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
        <endpoint name="WFN"
            address=""
            behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior"
            binding="webHttpBinding"
            bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig"
            contract="Tridion.Extensions.UI.Services.Interfaces.IWFNServices" />
        <!-- For https, uncomment this 
					<endpoint name="ServicesSecure"
							address=""
							behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior"
							binding="webHttpBinding"
							bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpsBindingConfig"
							contract="Tridion.Web.UI.Models.SiteEdit.Interfaces.IServices" />
					-->
      </service>
    </services>
  </system.serviceModel>

  <system.web>
    
    <identity impersonate="true"/>
  </system.web>
</configuration>