<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="ui" namespace="Tridion.Web.UI.Editors.CME.Controls" assembly="Tridion.Web.UI.Editors.CME" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="multimedia.bin" verb="GET" validate="false" type="Tridion.Web.UI.Editors.CME.Http.MultiMediaProvider" />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<handlers>
			<!-- Integrated Pipeline Mode (default) -->
			<add name="CME-CLR2-Int-bin" path="multimedia.bin" verb="GET" type="Tridion.Web.UI.Editors.CME.Http.MultiMediaProvider" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="CME-CLR4-Int-bin" path="multimedia.bin" verb="GET" type="Tridion.Web.UI.Editors.CME.Http.MultiMediaProvider" preCondition="integratedMode,runtimeVersionv4.0" />
			<!-- Classic Mode -->
			<add name="CME-CLR2-Classic-32bit-bin" path="multimedia.bin" verb="GET" modules="IsapiModule" type="Tridion.Web.UI.Editors.CME.Http.MultiMediaProvider" preCondition="classicMode,runtimeVersionv2.0,bitness32" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" responseBufferLimit="0" />
			<add name="CME-CLR4-Classic-32bit-bin" path="multimedia.bin" verb="GET" modules="IsapiModule" type="Tridion.Web.UI.Editors.CME.Http.MultiMediaProvider" preCondition="classicMode,runtimeVersionv2.0,bitness32" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.50727\aspnet_isapi.dll" responseBufferLimit="0" />
			<add name="CME-CLR2-Classic-64bit-bin" path="multimedia.bin" verb="GET" modules="IsapiModule" type="Tridion.Web.UI.Editors.CME.Http.MultiMediaProvider" preCondition="classicMode,runtimeVersionv2.0,bitness64" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" responseBufferLimit="0" />
			<add name="CME-CLR4-Classic-64bit-bin" path="multimedia.bin" verb="GET" modules="IsapiModule" type="Tridion.Web.UI.Editors.CME.Http.MultiMediaProvider" preCondition="classicMode,runtimeVersionv2.0,bitness64" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.50727\aspnet_isapi.dll" responseBufferLimit="0" />
		</handlers>
	</system.webServer>
</configuration>
